<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body ng-app="flashcards" ng-controller="cardController" ng-keyup="changeCard($event)">
    <div class="container">
      <div class="row">
        <div class="col-md-6"> 
          <h1> Instructions </h1>
            Press right or space key to show name. <br>
            Press left or right if you get it right. <br>
            Press space if you get it wrong. <br>
            After you go through everyone once, You then cycle through those you got wrong. <br>
            Hit refresh if you want to start over.
        </div>
        <div style="margin-top: 20px;" class="col-md-6">
          <button ng-click="doTen($event)" class="btn btn-default"> Get ten members </button>
          <button ng-click="reset($event)" class="btn btn-default"> Reset </button>
          <button ng-click="getPledges($event)" class="btn btn-default"> Pledges only </button>
        </div>
      </div>
      <br> <br>
      <div class="row">
        <div class="col-md-12">
          <strong> {{currentCorrect}} </strong> out of {{totalNum}} correct.
          <br>
          <strong> {{currentWrong}} </strong> out of {{totalNum}} wrong.
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img style="width: 300px" src="{{ currentMember.image }}"> </img>
        </div>
        <div class="col-md-2">
          <div ng-if="pledge">
            <h2> Name </h2>
            <h2> Keepsake </h2>
            <h2> Hometown </h2>
            <h2> Crossroads </h2>
            <h2> Major </h2>
            <h2> Year  </h2>
          </div>
        </div>
        <div class="col-md-6" ng-if="display">
          <h2> {{currentMember.name}} </h2>
          <h2> {{currentMember.keepsake}} </h2>
          <h2> {{currentMember.hometown}} </h2>
          <h2> {{currentMember.address}} </h2>
          <h2> {{currentMember.major}} </h2>
          <h2> {{currentMember.year}} </h2>
        </div>
      </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"> </script>
    <script src="bower_components/angular/angular.min.js"> </script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"> </script>
    <script src="app.js"> </script>
    <script src="controller.js"> </script>
  </body>
</html>
